{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Hedgehog - {{ stock.name }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="profile-header">
            <h1>{{ stock.name }}</h1>
            <p>{{ stock.sector }}</p>
            <p>
                {% if not current_user.is_watching(stock) %}
                    <a href="{{ url_for('.watch', ticker=stock.ticker) }}" class="btn btn-primary">Watch</a>
                {% else %}
                    <a href="{{ url_for('.unwatch', ticker=stock.ticker) }}" class="btn btn-primary">Unwatch</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.edit_stock', ticker=stock.ticker) }}">Edit Stock [Admin]</a>
                {% endif %}
            </p>
        </div>
    </div>
    <h3>Trades of {{ stock.ticker }}</h3>
    {% include '_trades.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.stock_info', ticker=stock.ticker) }}
        </div>
    {% endif %}
{% endblock %}