<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="{{ url_for('stocks.stock_info', ticker=trade.stock.ticker) }}">
                <img src="{{ trade.user.gravatar(size=40) }}" class="card-img" alt="Company logo">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Trade for {{ trade.stock.name }}</h5>
                <p class="card-text"><a href="{{ url_for('users.user_profile', username=trade.user.username) }}">{{ trade.user.username }}</a></p>
                <p class="card-text"><a href="{{ url_for('stocks.stock_info', ticker=trade.stock.ticker) }}">{{ trade.stock.ticker }}</a></p>
                <p class="card-text">{{ trade.price }}</p>
                <p class="card-text">{{ trade.quantity }}</p>
                <p class="card-text"><small class="text-muted">{{ moment(trade.timestamp).fromNow() }}</small></p>
                <div class="card-footer">
                    {% if current_user.is_administrator() %}
                    <a href="{{ url_for('trades.edit_trade', trade_id=trade.id) }}">
                        <span class="label label-danger">Edit [Admin]</span>
                    </a>
                {% endif %}
                <a href="{{ url_for('trades.trade', trade_id=trade.id) }}">
                    <span class="label label-danger">Permalink</span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>