<table class="table table-bordered text-center">
    <thead>
    <tr class="bg-success">
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Ticker</th>
        <th class="text-center" scope="col">Last<br> Trade</th>
        <th class="text-center" scope="col">Shares</th>
        <th class="text-center" scope="col">Purchase<br> Price</th>
        <th class="text-center" scope="col">Current<br> Price</th>
        <th class="text-center" scope="col">Gain/Loss<br> Since Purchase</th>
        <th class="text-center" scope="col">Gain/Loss<br> Since Purchase (%)</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.name }}</td>
        <td>{{ stock.ticker }}</td>
        <td>${{ stock.lastTrade }}</td>
        <td>{{ stock.shares }}</td>
        <td>${{ stock.purchasePrice }}</td>
        <td>${{ stock.currentPrice }}</td>
        {% set gainLoss = stock.currentPrice|float - stock.purchasePrice|float %}
        <td class="{% if gainLoss > 0 %} text-success {% else %} text-danger {% endif %}">{{ "${:,.2f}".format(gainLoss) }}</td>
        {% set gainLossPercentage = stock.currentPrice|float / stock.purchasePrice|float - 1 %}
        <td class="{% if gainLoss > 0 %} text-success {% else %} text-danger {% endif %}">{{ gainLossPercentage|round(2, 'common') }}%</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="bg-success">
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Ticker</th>
        <th class="text-center" scope="col">Last<br> Trade</th>
        <th class="text-center" scope="col">Shares</th>
        <th class="text-center" scope="col">Purchase<br> Price</th>
        <th class="text-center" scope="col">Current<br> Price</th>
        <th class="text-center" scope="col">Gain/Loss<br> Since Purchase</th>
        <th class="text-center" scope="col">Gain/Loss<br> Since Purchase (%)</th>
    </tr>
    </tfoot>
</table>