<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Ticker</th>
        <th scope="col">Last Trade</th>
        <th scope="col">Shares</th>
        <th scope="col">Purchase Price</th>
        <th scope="col">Current Price</th>
        <th scope="col">Gain/Loss Since Purchase</th>
        <th scope="col">Gain/Loss Since Purchase (%)</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.name }}</td>
        <td>{{ stock.ticker }}</td>
        <td>{{ stock.lastTrade }}</td>
        <td>{{ stock.shares }}</td>
        <td>{{ stock.purchasePrice }}</td>
        <td>{{ stock.currentPrice }}</td>
        <td>{{ stock.gainLossSincePurchase }}</td>
        <td>{{ stock.gainLossSincePurchasePercentage }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Ticker</th>
        <th scope="col">Last Trade</th>
        <th scope="col">Shares</th>
        <th scope="col">Purchase Price</th>
        <th scope="col">Current Price</th>
        <th scope="col">Gain/Loss Since Purchase</th>
        <th scope="col">Gain/Loss Since Purchase (%)</th>
    </tr>
    </tfoot>
</table>